name: Test
on:
  workflow_dispatch:
  push:
concurrency:
  group: test
  cancel-in-progress: true

env:
  vulkanSdkVersion: '1.4.328.1'

jobs:
  test1:
    runs-on: macos-latest
    steps:
      - run: |
          brew install mesa vulkan-tools
          vulkaninfo --summary
  test2:
    runs-on: windows-latest
    steps:
      - uses: jakoch/install-vulkan-sdk-action@v1
        with:
          vulkan_version: ${{ env.vulkanSdkVersion }}
          install_runtime: true
          cache: true
          stripdown: false
      - uses: msys2/setup-msys2@v2
      - shell: powershell
        run: msys2 -c 'pacman --noconfirm -S mingw-w64-x86_64-mesa'
      - run: |
          ls
          C:\VulkanSDK\${{ env.vulkanSdkVersion }}\runtime\x64\vulkaninfo.exe --summary
