name: Test
on:
  workflow_dispatch:
  push:
concurrency:
  group: test
  cancel-in-progress: true

env:
  vulkanSdkVersion: '1.4.328.1'

jobs:
  test1:
    runs-on: macos-latest
    steps:
      - run: |
          brew install mesa vulkan-tools
          vulkaninfo --summary
  test2:
    runs-on: windows-latest
    steps:
      - name: Setup Vulkan SDK 
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          vulkan_version: ${{ env.vulkanSdkVersion }}
          install_runtime: true
          cache: true
          stripdown: false
      - run: |
          C:\VulkanSDK\${{ env.vulkanSdkVersion }}\runtime\x64\vulkaninfo.exe --summary
