name: Test
on:
  workflow_dispatch:
  push:
concurrency:
  group: test
  cancel-in-progress: true

jobs:
  test1:
    runs-on: macos-latest
    steps:
      - run: |
          brew install mesa vulkan-tools
          vulkaninfo --summary
  test2:
    runs-on: windows-latest
    steps:
      - uses: humbletim/setup-vulkan-sdk@v1.2.1
      - run: |
          winget install -e --id KhronosGroup.VulkanSDK
          vulkaninfo --summary
