name: Test
on:
  workflow_dispatch:
  push:
concurrency:
  group: test
  cancel-in-progress: true

env:
  vulkanSdkVersion: '1.4.328.1'
  mesaDriverVersion: '24.1.1'

jobs:
  test1:
    runs-on: macos-latest
    steps:
      - run: |
          brew install mesa vulkan-tools
          vulkaninfo --summary
  test2:
    runs-on: windows-latest
    steps:
      - name: Setup Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          vulkan_version: ${{ env.vulkanSdkVersion }}
          install_runtime: true
          cache: true
          stripdown: false
      - name: Download Mesa3D driver
        uses: robinraju/release-downloader@v1.10
        with:
          repository: 'pal1000/mesa-dist-win'
          tag: '${{ env.mesaDriverVersion }}'
          fileName: 'mesa3d-${{ env.mesaDriverVersion }}-release-msvc.7z'
          out-file-path: 'dep/mesa/'  # ${{ github.workspace }} is prefixed automatically.
          extract: false  # 7zip is not supported by this extension, so we have to do it on our own later.
      - name: Extract Mesa3D driver
        working-directory: '${{ github.workspace }}/dep/mesa/'
        shell: bash
        run: |
          7z x '${{ github.workspace }}/dep/mesa/mesa3d-${{ env.mesaDriverVersion }}-release-msvc.7z'
          rm '${{ github.workspace }}/dep/mesa/mesa3d-${{ env.mesaDriverVersion }}-release-msvc.7z'
      - name: Install Mesa3D driver
        working-directory: '${{ github.workspace }}/dep/mesa/'
        run: |
          reg add "HKLM\SOFTWARE\Khronos\Vulkan\Drivers" /v '${{ github.workspace }}\dep\mesa\x64\lvp_icd.x86_64.json' /t REG_DWORD /d 0 /f /reg:64
          reg add "HKLM\SOFTWARE\Khronos\Vulkan\ExplicitLayers" /v 'C:\VulkanSDK\${{ env.vulkanSdkVersion }}\Bin\VkLayer_khronos_synchronization2.json' /t REG_DWORD /d 0 /f /reg:64
          reg add "HKLM\SOFTWARE\Khronos\Vulkan\ExplicitLayers" /v 'C:\VulkanSDK\${{ env.vulkanSdkVersion }}\Bin\VkLayer_khronos_validation.json' /t REG_DWORD /d 0 /f /reg:64
          reg add "HKLM\SOFTWARE\WOW6432Node\Khronos\Vulkan\Drivers" /v '${{ github.workspace }}\dep\mesa\x86\lvp_icd.x86.json' /t REG_DWORD /d 0 /f /reg:64
          reg add "HKLM\SOFTWARE\WOW6432Node\Khronos\Vulkan\ExplicitLayers" /v 'C:\VulkanSDK\${{ env.vulkanSdkVersion }}\Bin32\VkLayer_khronos_synchronization2.json' /t REG_DWORD /d 0 /f /reg:64
          reg add "HKLM\SOFTWARE\WOW6432Node\Khronos\Vulkan\ExplicitLayers" /v 'C:\VulkanSDK\${{ env.vulkanSdkVersion }}\Bin32\VkLayer_khronos_validation.json' /t REG_DWORD /d 0 /f /reg:64
      - run: |
          ls
          C:\VulkanSDK\${{ env.vulkanSdkVersion }}\runtime\x64\vulkaninfo.exe --summary
